body{
    background-color: #FFF;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.btn{
    font-size: .8rem;
    font-weight: 700;
}

.bg-holder{
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-holder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.divider-content-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 .5rem 0 .5rem;
    background-color: #FFF;
    font-size: .8rem;
    font-weight: 500;
    color: #999;
    white-space: nowrap;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}