body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 105px; /*por causa do navbar fixed-top */
}

.bg-primary-color{
    background-color: #fff;
}

.bg-secondary-color{
    background-color: #ece8ea;
}

.bg-dark-color{
    background-color: #050505;
}

.primary-color{
    color: #050505;
}

.secondary-color{
    color: #7a7a7a;
}

header{
    flex-shrink: 0;
}
/* NAVBAR */
#navbar{
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover{
    color: #7a7a7a;
}

#navbar a.active{
    border-bottom: 1px solid #050505;
}

.navbar-brand{
    display: flex;
}

.navbar-brand img{
    width: 40px;
    margin-left: 1em;
}

.navbar-brand span{
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;

}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item{
    margin: 0 1em;
}

#segundoBotao{
    margin-left: 1em;
}
/*MAIN*/



/*FOOTER*/
footer{
    padding: 0 32px;

}

#containerSuperior{
    justify-content: space-between;
    align-items: center;
    display: flex;  
}

#containerInferior{
    row-gap: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;    
}