::selection {
    background: rgba(255,218,121,0.5);
    color: #0d0c22;
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 104px; /*por causa do navbar fixed-top */
}

.bg-primary-color{
    background-color: #fff;
}

.bg-secondary-color{
    background-color: #ece8ea;
}

.bg-dark-color{
    background-color: #050505;
}

.primary-color{
    color: #050505;
}

.secondary-color{
    color: #7a7a7a;
}
/* NAVBAR */
#navbar{
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover{
    color: #7a7a7a;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar-brand img{
    width: 40px;
    height: 40px;
    margin-left: 1em;
}

.navbar-brand span{
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;

}
/*FOOTER TOP*/
#footer{
    padding: 3em 2em;
}

#footer-top{
    margin-bottom: 2em;
}

#footer,
#footer-top i{
    color: #FFF;
}

#footer-top h2 {
    display: inline-block;
    cursor: pointer;
}

#social-icons{
    text-align: right;
}

#social-icons i{
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}
#social-icons i:hover{
    color: #7a7a7a;
}

/*FOOTER DETAILS*/
#footer-details{
    margin-bottom: 3em;
}

#news-container,
#contact-container,
#link-container{
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}

#footer-details h4{
    color: #FFF;
    margin-bottom: 1.5em;
}

#news-container input{
    border-radius: 0;
    border: none;
}

#links-container li{
    margin-bottom: .5em;
}

#links-container a{
    text-decoration: none;
}

#links-container a:hover{
    color: #FFF;
}

/*FOOTER BOTTOM*/
#footer-bottom{
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
}

#footer-bottom i{
    color: #e61e10;
    margin-left: 0.3em;
}

@media(min-width: 768px){
    #news-container{
        padding-right: 2em;
    }
    #links-container{
        padding-left: 2em;
    }
    #contact-container{
        padding: 0 2em;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #7a7a7a;
    }
}