::selection {
    background: rgba(255,218,121,0.5);
    color: #0d0c22;
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 104px; /*por causa do navbar fixed-top */
}

.bg-primary-color{
    background-color: #fff;
}

.bg-secondary-color{
    background-color: #ece8ea;
}

.bg-dark-color{
    background-color: #050505;
}

.primary-color{
    color: #050505;
}

.secondary-color{
    color: #7a7a7a;
}

/*HEADER*/

.project-header {
    background-color: #f8f9fa;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    position: relative;
    justify-content: center;
}
.project-title {
    font-weight: bold;
    font-size: 1.25rem;
}
.project-author {
    color: #6c757d;
    font-size: 0.9rem;
}
/* NAVBAR */
#navbar{
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover{
    color: #7a7a7a;
}

#navbar a.active{
    border-bottom: 1px solid #050505;
}

.navbar-brand{
    display: flex;
}

.navbar-brand img{
    width: 40px;
    margin-left: 1em;
    
}

.navbar-brand span{
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;

}

.search-bar-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Largura máxima da barra */
    border: 1px solid #ced4da;
    border-radius: 50px; /* Cantos arredondados */
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}
.search-bar-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 50px; /* Ajustar ao wrapper */
}
.search-bar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    color: #6c757d; /* Cinza claro */
    padding: 0 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
}
.search-bar-btn:hover {
    background-color: #f8f9fa; /* Fundo claro no hover */
    color: #343a40; /* Texto mais escuro */
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.icones i{
    
}
/*Profile*/
.profile{
    background-color: #f8f9fa; /* Fundo claro */
    padding: 40px 20px;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Avatar */
.profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*OPCOES */
.trending-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: -4em;
}

.trending-searches .badge{
    font-size: 0.875rem;
    background-color: #f3f3f6;
    color:#050505;
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.trending-searches .badge:hover{
    background-color: #7a7a7a;
    color:#050505;
}

/*MINI BANNERS*/

#mini-banners{
    margin-bottom: 4em;
    margin-top: 4em;
}

#mini-banners .card{
    padding: 2em 0.3m;
    margin-bottom: 1em;
}

#mini-banners i{
    font-size: 4em;
}

#mini-banners .card-title{
    margin-bottom: 1.5em;
}

#mini-banners .btn{
    margin-top: 1.5em;
    padding: 0.6em 1.2em;
}


/*FOOTER TOP*/
#footer{
    padding: 3em 2em;
}

#footer-top{
    margin-bottom: 2em;
}

#footer,
#footer-top i{
    color: #FFF;
}

#footer-top h2 {
    display: inline-block;
    cursor: pointer;
}

#social-icons{
    text-align: right;
}

#social-icons i{
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}
#social-icons i:hover{
    color: #7a7a7a;
}

/*FOOTER DETAILS*/
#footer-details{
    margin-bottom: 3em;
}

#news-container,
#contact-container,
#link-container{
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}

#footer-details h4{
    color: #FFF;
    margin-bottom: 1.5em;
}

#news-container input{
    border-radius: 0;
    border: none;
}

#links-container li{
    margin-bottom: .5em;
}

#links-container a{
    text-decoration: none;
}

#links-container a:hover{
    color: #FFF;
}

/*FOOTER BOTTOM*/
#footer-bottom{
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
}

#footer-bottom i{
    color: #e61e10;
    margin-left: 0.3em;
}

@media(min-width: 768px){
    #news-container{
        padding-right: 2em;
    }
    #links-container{
        padding-left: 2em;
    }
    #contact-container{
        padding: 0 2em;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #7a7a7a;
    }
}